
.sobre-mi {
    width: 100%;
    padding: 60px 50px;
    display: flex;
}
.sobre-mi section {
    height: 500px;
    width: 35%;
}

.sobre-mi section .mi-photo {
    width:  90%;
    height: 100%;
    display: block;
    padding: 1px;
    margin: 0 auto;
}
.sobre-mi section .mi-photo .yo {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    
    width: 100%;
    max-height: 100%;
}
.sobre-mi .mi-info
{
    width: 65%;
    display: flex;
    padding: 20px 60px;
    flex-direction: column;
    justify-content: center;
}
.sobre-mi .mi-info .titles{
    margin-bottom: 25px;
}
.sobre-mi .mi-info .titles h5 {
    color: rgb(122, 115, 115);
}
.sobre-mi .mi-info > .parrafo > p {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 5px;
}
.sobre-mi .mi-info > .parrafo > a {
    display: block;
    color: #f3f3f3;
    text-align: center;
    background: rgb(59, 131, 214);
    width: 240px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 auto;
}

@media screen and (max-width: 940px) {
    .sobre-mi {
        flex-direction: column;
    }
    .sobre-mi section, .sobre-mi .mi-info  {
        width: 100%;
        text-align: center;
    }
    .sobre-mi .mi-info > .parrafo > a {
        width: 160px;

    }
    .sobre-mi .mi-info {
        padding: 25px 5px;
    }
    
}

@media screen and (max-width: 490px) {
    
    .sobre-mi section, .sobre-mi .mi-info  {
        
        height: 400px;
    }
}