.AboutMe__container {
  width: 100%;
  height: auto;
  padding: 10px 40px;
  background-color: #f3f3f3;
    /* border-radius: 8px; */
  box-shadow: 2px 2px 2px 2px rgb(216, 216, 216);

  .AboutMe_Description {
    display: flex;
    
    .AboutMe_Img {
      width: 40%;
      height: 280px;
      overflow: hidden;
      display: flex;
      align-self: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .AboutMe_text {
      width: 60%;
      height: 340px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        text-align: center;
        font-size: 2.1em;
      }
      p {
        padding: 15px 15px;
        text-align: justify;
        font-size: 1.1em;
      }
    }
  }
}

@media screen and (max-width:900px) {
  .AboutMe__container {
    .AboutMe_Description {
      flex-direction: column;
      
      .AboutMe_Img {
        width: 100%;
        order: 1;

        img {
          object-fit: contain;
        }
      }
      .AboutMe_text {
        width: auto;
        order: 0;
        height: auto;
        padding: 10px 0;
      }
    }
  }
}